#itemInfoCard{
    font-size: 16px;
    display:inline;
    max-width: 100em;
    align-self: center;
    overflow: auto;
    z-index: -1;
}

#IICButton{
    font-size: 16px;
    width: 5em;
    height: 2em;
    margin-top: -5em;
    background-color: transparent;
    display: block;
}

#itemName{

    display: block;
    margin-bottom: 0;
}

#itemImage{
    margin-top: 5em;
    margin-left: -26em;
    width: 3.5em;
    height: 3.5em;
}

#itemDescription{
    width: 40em;
    height: 5em;
    overflow: auto;
    margin-left: -14.25em;
}


#itemInfo{
    font-size: 16px;
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/004/682/457/small/simon-sanchez-madera-tilex1.jpg?1485480359");
    background-size: 200px;
    height: 22.10em;
    width: 25em;
    margin-top: -3.95em;
    margin-left: -12.5em;
    overflow: auto;
}